.abc {
  display: flex;
  flex-wrap: wrap;
  width: 220px;

  border-top: 1px solid #cbced9;
}

.abc__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 41px;

  box-sizing: border-box;

  .font-face(500, 14px, 18px, #1d2e5b);
  text-transform: uppercase;

  background-color: #ffffff;
  border-right: 1px solid #cbced9;
  border-bottom: 1px solid #cbced9;

  &:nth-of-type(5n-3) {
    width: 43px;
  }

  &:nth-of-type(5n) {
    width: 43px;
    border-right: none;
  }

  &--active {
    color: #ffffff;
    background-color: #1d2e5b;
    border-color: #1d2e5b;
  }

  &--modal-active {
    background-color: @grey;
  }
}

.abc__link {
  padding: 10px 12px;

  color: inherit;
}

.abc__countries {
  display: none;
}

@media (min-width: @tablet-width) {
  .abc {
    width: 440px;
    margin-top: -8px;
    padding: 0;

    border-top: none;
  }

  .abc__item {
    height: 83px;

    font-size: 60px;
    font-weight: 700;
    color: rgba(25, 33, 68, 0.2);

    background-color: #e2e5f2;
    border: none;

    &:nth-child(n) {
      width: 78px;
    }

    &--active {
      color: rgba(25, 33, 68, 1);
    }
  }
}

@media (min-width: @desktop-width) {
  .abc {
    width: 1265px;
    margin-left: 27px;
    padding: 0;

    border-top: none;
  }

  .abc__item {
    &:nth-child(n) {
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: flex-start;
      width: 252px;
      height: auto;
      margin-bottom: 75px;
    }

    &:nth-child(5n-1) {
      margin-right: -6px;
    }

    &:nth-child(n + 11) {
      margin-bottom: 115px;
    }

    &:nth-child(n + 16) {
      margin-bottom: 75px;
    }
  }

  .abc__countries {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-self: flex-start;
    .default-list();
  }

  .abc__countries-item {
    margin-bottom: -6.8px;
  }

  .abc__countries-link {
    .font-face(400, 20px, 30px, #444444);
    text-transform: none;

    &:hover,
    &:focus {
      color: rgb(29, 46, 91);
    }

    &:active {
      color: rgba(29, 46, 91, 0.3);
    }
  }

  .abc__link {
    align-self: flex-start;
    margin-bottom: 45px;
    padding: 0;

    color: rgba(25, 33, 68, 1);
  }
}
