.about {
  position: relative;
  z-index: 10;

  background-color: @blue;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.about__wrapper {
  margin-top: -20px;
  padding-top: 273px;
  padding-bottom: 65px;
  padding-left: 49px;

  background-image: url("../../img/about-mobile@1x.png"),
    url("../../img/blue-back.png");
  background-repeat: no-repeat;
  background-position: bottom 1px left 17px,
    left 0 top 281px;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../../img/about-mobile@2x.png");
    background-size: 292px auto;
  }
}

.about__title {
  margin-top: 41px;

  .font-face(700, 24px, 24px, @orange);
}

.about__text {
  width: 220px;

  .font-face();

  &--bold {
    margin-top: 18px;

    font-weight: bold;
  }
}

.about__break {
  display: none;
}

.about__button {
  display: none;
}

@media (min-width: @tablet-width) {
  .about {
    border-bottom-right-radius: 58px;
    border-bottom-left-radius: 58px;
  }

  .about__wrapper {
    margin-top: 0;
    padding-top: 240px;
    padding-bottom: 87px;
    padding-left: 74px;

    background-image: none;

    &::before {
      content: "";

      position: absolute;
      top: 239px;
      left: 40px;

      width: 688px;
      height: 213px;

      background-color: #141b3b;
      border-radius: 20px;
    }

    &::after {
      content: "";

      position: absolute;
      right: 8px;
      bottom: 87px;

      width: 376px;
      height: 548px;

      background-image: url("../../img/about-tablet@1x.png");
      background-repeat: no-repeat;

      border-radius: 20px;

      @media (min-resolution: @retina-dppx) {
        background-image: url("../../img/about-tablet@2x.png");
        background-size: 376px auto;
      }
    }
  }

  .about__title {
    position: relative;

    margin-bottom: 39px;

    font-size: 45px;
    line-height: 45px;
  }

  .about__text {
    position: relative;

    width: 300px;

    font-size: 28px;
    line-height: 33px;

    &--bold {
      width: 260px;
      margin-top: 32px;

      font-size: 21px;
      line-height: 25px;
    }
  }

  .about__break {
    display: block;
  }

  .about__button {
    display: block;
    width: 274px;
    margin-top: 51px;
    margin-left: 0;
  }
}

@media (min-width: @desktop-width) {
  .about__wrapper {
    padding-top: 90px;
    padding-bottom: 165px;
    padding-left: 130px;

    background-image: url("../../img/about-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: bottom right 61px;

    &::before {
      content: "";

      position: absolute;
      top: 73px;
      left: 60px;

      width: 213px;
      height: 213px;

      background-color: #141b3b;
      border-radius: 20px;
    }

    &::after {
      display: none;
    }

    @media (min-resolution: @retina-dppx) {
      background-image: url("../../img/about-desktop@2x.png");
      background-size: 630px auto;
    }
  }

  .about__title {
    margin-bottom: 60px;
  }

  .about__text {
    width: 623px;

    &--bold {
      width: 418px;
      margin-top: 38px;
    }
  }

  .about__break {
    display: none;
  }

  .about__button {
    margin-top: 84px;
  }
}
