.add-plan {
  margin-top: -26px;
  margin-bottom: -28px;
  padding: 9px 0 61px 0;

  background-color: #d4d9eb;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.add-plan__title {
  margin-bottom: 30px;
  padding-right: 25px;
  padding-left: 25px;

  .font-face(700, 24px, 24px, #1d2e5b);
}

.add-plan__form {
  padding: 0 25px;
}

.add-plan__fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
  padding: 23px 25px 25px 22px;

  background-color: #ffffff;
  border: none;
  border-radius: 10px;
}

.add-plan__fieldset-title {
  margin-top: 0;
  margin-bottom: 17px;
  padding-left: 3px;

  .font-face(700, 20px, 20px, #1d2e5b);
}

.add-plan__fieldset-name {
  display: block;
}

.add-plan__text {
  padding-left: 3px;

  .font-face(400, 16px, 22px, #444444);
}

.add-plan__nav {
  display: none;
}

@media (min-width: @tablet-width) {
  .add-plan {
    margin-bottom: -50px;
    padding-bottom: 76px;
  }

  .add-plan__title {
    margin: 35px 70px 50px 75px;
    padding: 0;

    font-size: 36px;
    line-height: 50px;
  }

  .add-plan__fieldset {
    margin-bottom: 41px;
    padding: 47px 43px 55px 40px;

    border-radius: 28px;
  }

  .add-plan__fieldset-title {
    margin-bottom: 36px;

    font-size: 36px;
    line-height: 36px;
  }

  .add-plan__form {
    padding: 0 75px;
  }

  .add-plan__text {
    position: relative;

    font-size: 20px;
    line-height: 24px;

    &--trip {
      width: 390px;
      margin-bottom: 73px;
    }

    &--trip::before {
      content: "";

      position: absolute;
      bottom: -32px;
      left: 0;

      width: 529px;
      height: 1px;

      background-color: #cbced9;
    }

    &--trip::after {
      content: "";

      position: absolute;
      bottom: -361px;
      left: 399px;

      width: 1px;
      height: 329px;

      background-color: #cbced9;
    }
  }

  .date__choice-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: @desktop-width) {
  .add-plan {
    position: relative;

    margin-top: -51px;
    margin-bottom: -46px;

    border-top-left-radius: 58px;
    border-top-right-radius: 58px;
  }

  .add-plan__title {
    width: 595px;
    margin-top: 41px;
    margin-left: 129px;
  }

  .add-plan__form {
    margin-right: 61px;
    margin-left: 59px;
    padding: 0;
  }

  .add-plan__fieldset {
    position: relative;

    padding-top: 99px;
    padding-right: 159px;
    padding-left: 157px;

    border-radius: 58px;
  }

  .add-plan__fieldset-title {
    margin-bottom: 32px;
  }

  .add-plan__fieldset-name {
    display: inline;
  }

  .add-plan__text {
    width: 595px;

    &--trip {
      width: 400px;
      margin-bottom: 118px;
    }

    &--trip::before {
      width: 996px;

      bottom: -57px;
      left: 3px;
    }

    &--trip::after {
      height: 508px;

      bottom: -564px;
      left: 776px;
    }
  }

  .add-plan__nav {
    position: absolute;
    top: 107px;
    right: 199px;

    display: block;
  }

  .add-plan__nav-list {
    display: block;
    .default-list();
    margin-top: -4px;

    &--trip {
      margin-top: 0;
    }
  }

  .add-plan__nav-item {
    margin-bottom: 23px;
  }

  .add-plan__nav-button {
    position: relative;

    .font-face(400, 20px, 20px, rgba(0, 0, 0, 0.6));
    text-transform: uppercase;
    letter-spacing: 2px;

    background: none;
    border: none;

    &::before {
      content: "";

      position: absolute;
      top: 12px;
      left: -36px;

      width: 4px;
      height: 4px;

      background-color: #e2e3e3;
      border-radius: 50%;
    }

    &--active {
      color: #000000;
    }

    &--active::before {
      background-color: #1d2e5b;
    }
  }
}
