.add-plan {
  margin-top: -26px;
  margin-bottom: -28px;
  padding: 9px 25px 60px 25px;

  background-color: #d4d9eb;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.add-plan__title {
  margin-bottom: 30px;

  .font-face(700, 24px, 24px, #1d2e5b);
}

.add-plan__fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 10px;
  padding: 23px 25px 0 22px;

  background-color: #ffffff;
  border: none;
  border-radius: 10px;
}

.add-plan__fieldset-title {
  margin-top: 0;
  margin-bottom: 17px;
  padding-left: 3px;

  .font-face(700, 20px, 20px, #1d2e5b);
}

.add-plan__text {
  padding-left: 3px;

  .font-face(400, 16px, 22px, #444444);
}
