.catalog-list__item {
  margin-bottom: 10px;
  padding: 18px;
  padding-bottom: 25px;


  .font-face(400, 15px, 18px, #444444);

  background-color: #ffffff;
  border-radius: 18px;
}

.catalog-list__header-wrapper {
  position: relative;

  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;

  &::after {
    content: "";

    position: absolute;
    top: 8px;
    right: 7px;

    width: 6px;
    height: 6px;

    background-color: #f97676;
    border-radius: 50%;
  }

  &--green::after {
    background-color: #81e31e;
  }
}

.catalog-list__name-wrapper {
  max-width: 115px;
  margin-left: 16px;
}

.catalog-list__name {
  margin: 0;
  margin-bottom: 6px;

  .font-face(700, 20px, 20px, #1d2e5b);
}

.catalog-list__like {
  .font-face(700, 14px, 21px, @dark-blue);
}

.catalog-list__like-icon {
  opacity: 0.3;

  &--active {
    opacity: 1;
  }
}

.catalog-list__photo {
  border-radius: 50%;
}

.catalog-list__like-wrapper {
  position: absolute;
  left: 49px;
  bottom: -1px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 31px;
  height: 31px;

  background-color: @grey;
  border-radius: 50%;

  &--active {
    background-color: #f9eaea;
  }
}

.catalog-list__preferences-list {
  .default-list();
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 11px;
  padding-left: 7px;
}

.catalog-list__preferences-item {
  margin-right: 5px;
}

.catalog-list__title {
  position: relative;

  margin: 0;
  margin-left: 8px;

  &--level {
    padding-left: 7px;
  }

  &--country::before,
  &--transport::before {
    content: "";

    position: absolute;
    top: 8px;
    left: -26px;

    width: 15px;
    height: 1px;

    background-color: @grey;
  }

  &--country::after {
    content: "";

    position: absolute;
    top: 8px;
    right: -18px;

    width: 138px;
    height: 1px;

    background-color: @grey;
  }

  &--transport::after {
    content: "";

    position: absolute;
    top: 8px;
    right: -3px;

    width: 89px;
    height: 1px;

    background-color: @grey;
  }

  &--level::after {
    content: "";

    position: absolute;
    top: 8px;
    right: -23px;

    width: 11px;
    height: 1px;

    background-color: @grey;
  }
}

.catalog-list__countries-list {
  .default-list();
  margin-top: 19px;
  margin-bottom: 12px;
  margin-left: 7px;

  .font-face(700, 15px, 18px, #1d2e5b);
  text-transform: uppercase;
}

.catalog-list__country-item {
  display: flex;
  margin-bottom: 9px;
}

.catalog-list__country-flag {
  position: relative;
  top: -3px;

  margin-right: 14px;
}

.catalog-list__bottom-wrapper {
  display: flex;
  margin-bottom: 3px;
}

.catalog-list__transport-wrapper {
  width: 175px;
}

.catalog-list__transport-list {
  margin-left: 6px;
}

.catalog-list__level-value {
  position: relative;
  top: 7px;
  left: 34px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 46px;
  overflow: hidden;

  .font-face(700, 24px, 18px, #1d2e5b);
}

.catalog-list__button {
  margin-top: 20px;
}
