.catalog-filter {
  position: relative;

  background-color: @grey;
}

.catalog-filter__title-wrapper {
  position: relative;
}

.catalog-filter__title {
  position: relative;
  z-index: 8;

  margin-top: -20px;
  padding-top: 37px;
  padding-bottom: 15px;
  padding-right: 21px;

  .font-face(700, 16px, 22px, @blue);
  text-align: center;
  text-transform: uppercase;

  background-color: #e2e5f2;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.catalog-filter__mobile {
  position: absolute;
  z-index: 20;
  top: 41px;
  left: 25px;

  display: block;
  width: 15px;
  height: 10px;

  background-image: url("../../img/filter.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
}

.catalog-filter__hide {
  position: absolute;
  z-index: 20;
  top: 39px;
  right: 32px;

  width: 12px;
  height: 12px;

  background-image: url("../../img/filter-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  cursor: pointer;
}

.catalog-filter__show {
  position: absolute;
  z-index: 20;
  top: 45px;
  right: 27px;

  width: 17px;
  height: 3px;
  padding-top: 5px;
  padding-bottom: 5px;

  background-color: #e2e5f2;
  background-image: url("../../img/dots.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  cursor: pointer;
}

.catalog-filter__countries {
  z-index: 5;

  width: 320px;
  margin-top: -27px;
  padding: 28px 25px 45px 25px;

  background-color: #e2e5f2;
}

.catalog-filter__general {
  position: relative;
  z-index: 1;

  margin: 25px;
  padding: 0 25px 30px 25px;

  background-color: @yellow;
  border-radius: 15px;
}
