.catalog-filter {
  position: relative;

  background-color: @grey;
}

.catalog-filter__countries {
  z-index: 5;

  width: 320px;
  margin-top: -27px;
  padding: 28px 25px 45px 25px;

  background-color: #e2e5f2;
}

.catalog-filter__general {
  position: relative;
  z-index: 1;

  margin: 25px;
  padding: 0 25px 30px 25px;

  background-color: @yellow;
  border-radius: 15px;
}

@media (min-width: @desktop-width) {
  .catalog-filter {
    width: 285px;
  }

  .catalog-filter__general {
    margin-right: 0;
    margin-left: 0;
  }
}
