.countries-filter__abc {
  .default-list();
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

.countries-filter__sorted {
  .default-list();
  margin-top: 47px;
  margin-left: 25px;
}

.countries-filter__button {
  margin-top: 37px;
}

@media (min-width: @tablet-width) {
  .countries-filter__sorted {
    margin-top: 22px;
    margin-left: 53px;
  }

  .countries-filter__button {
    width: 618px;
    margin-top: 34px;
    margin-left: 49px;
  }
}

@media (min-width: @tablet-width) {
  .countries-filter__button {
    width: 1320px;
    margin-top: -19px;
    margin-left: 34px;
  }
}
