.countries-filter__continents {
  .default-list();
  margin-left: 25px;
  margin-right: 25px;
}

.countries-filter__continents-item {
  margin-bottom: 5px;
}

.countries-filter__continents-link {
  text-transform: uppercase;
  .font-face(700, 16px, 22px, rgba(25, 33, 68, 0.3));

  &--active {
    color: @blue;
  }
}

.countries-filter__abc {
  .default-list();
  margin-top: 20px;
  margin-left: 25px;
  margin-right: 25px;
}

.countries-filter__sorted {
  .default-list();
  margin-top: 47px;
  margin-left: 25px;
}

.countries-filter__button {
  margin-top: 37px;
}
