.date__label {
  display: flex;
  justify-content: space-between;
  margin-top: 21px;
  padding-left: 3px;

  .font-face(500, 16px, 16px, #1d2e5b);
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.date__label-span {
  opacity: 0.3;
}

.date__input-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 7px;
  margin-left: 4px;
  padding-top: 13px;
  padding-right: 13px;
  padding-bottom: 10px;
  padding-left: 12px;

  border: 1px solid #cbced9;
  border-radius: 5px;
}

.date__decrease-button,
.date__increase-button {
  position: relative;

  width: 14px;
  height: 14px;

  opacity: 0.2;

  border: none;
  background-color: transparent;

  cursor: pointer;

  &:hover {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.1;
  }
}

.date__decrease-button {
  background-image: url("../../img/qty-minus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.date__increase-button {
  background-image: url("../../img/qty-plus.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.date__text-input {
  .font-face(500, 15px, 14px, #1d2e5b);
  text-align: center;

  border: none;
}

.date__kids-wrapper {
  margin-top: 25px;
  margin-bottom: 24px;
}

.date__kids-label {
  position: relative;

  padding-left: 43px;

  .font-face(400, 15px, 15px, #444444);

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    top: -6px;
    left: 5px;

    width: 26px;
    height: 26px;

    background-color: #ffffff;
    border: 1px solid #cbced9;
    border-radius: 3px;
  }

  &:hover::before,
  &:focus::before {
    border-color: #959bb2;
  }

  &:active::before {
    background-color: #e2e5f1;
    border-color: #e2e5f1;
  }
}

.date__kids-checkbox:checked {
  & + .date__kids-label::before {
    content: "";

    position: absolute;
    top: -6px;
    left: 5px;

    width: 26px;
    height: 26px;

    background-color: #ffffff;
    background-image: url("../../img/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 3px;
  }

  & + .date__kids-label:hover::before,
  & + .date__kids-label:focus::before {
    border-color: #959bb2;
  }

  & + .date__kids-label:active::before {
    opacity: 0.3;

    background-color: #e2e5f1;
    border-color: #e2e5f1;
  }
}

.date__month-wrapper {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin-bottom: 16px;
  padding-top: 12px;
  padding-bottom: 7px;

  border-top: 1px solid #cbced9;
  border-bottom: 1px solid #cbced9;
}

.date__month-decrease,
.date__month-increase {
  background-color: transparent;
  border: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }
}

.date__month-decrease {
  opacity: 0.3;
  background-image: url("../../img/month-arrow-left.svg");
  background-size: 9px 17px;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }
}

.date__month-increase {
  opacity: 0.3;
  background-image: url("../../img/month-arrow-right.svg");
  background-size: 9px 17px;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }
}

.date__month-input {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 29px;

  border: none;

  &::placeholder {
    .font-face(700, 20px, 20px, #1d2e5b);
    text-align: center;
  }
}

.date__calendar {
  margin-left: 5px;

  .font-face(400, 14px, 18px, rgba(68, 68, 68, 0.3));
  border-collapse: collapse;
}

.date__cell {
  width: 31px;
  height: 31px;

  text-align: center;
  border: 1px solid #cbced9;

  &--header {
    color: #444444;
    font-weight: normal;

    border: none;
  }

  &--weekend {
    color: #ff5c23;
  }

  &--active {
    color: #ffffff;

    background-color: #1d2e5b;
  }

  &--current {
    border: 2px solid #ff5c23;
  }

  &--available {
    color: #444444;

    background-color: @grey;
  }
}

.date__cell-extra {
  display: none;
}

.date__button {
  margin-top: 21px;
}

@media (min-width: @tablet-width) {
  .date__label {
    margin-top: 19px;
    padding-top: 26px;

    font-size: 20px;

    border-top: 1px solid #d6d9e6;
  }

  .date__input-wrapper {
    margin-top: 25px;
    padding-top: 23px;
    padding-bottom: 22px;
  }

  .date__increase-button,
  .date__decrease-button {
    width: 20px;
    height: 20px;
  }

  .date__text-input {
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  .date__duration-wrapper {
    order: 3;
  }

  .date__kids-wrapper {
    order: 2;
    margin-top: 36px;
    margin-bottom: 14px;
  }

  .date__kids-label {
    padding-left: 63px;

    font-size: 20px;
    font-weight: 500;
    color: #1d2e5b;
    letter-spacing: 2px;
    text-transform: uppercase;

    &::before {
      top: -11px;
      left: 5px;

      width: 36px;
      height: 36px;
      border-radius: 5px;
    }
  }

  .date__kids-checkbox:checked {
    & + .date__kids-label::before {
      top: -11px;
      left: 5px;

      width: 36px;
      height: 36px;

      background-size: 12px 12px;
      border-radius: 5px;
    }
  }

  .date__month-wrapper {
    width: 100%;
    margin-top: 57px;
    margin-bottom: 2px;
    padding-top: 25px;
    padding-bottom: 16px;
  }

  .date__month-decrease {
    width: 19px;
    height: 34px;
    background-size: auto;
    margin-left: 20px;
  }

  .date__month-increase {
    width: 19px;
    height: 34px;
    background-size: auto;
    margin-right: 15px;
  }

  .date__month-input,
  .date__month-input::placeholder {
    padding-top: 0;
    padding-left: 0;
    font-size: 36px;
    line-height: 36px;
  }

  .date__calendar {
    font-size: 18px;
  }

  .date__cell {
    width: 77px;
    height: 69px;

    &--header {
      height: 63px;
      padding-bottom: 2px;
      padding-left: 4px;

      vertical-align: bottom;

      border: 0;
      border-bottom-width: 1px;
    }
  }

  .date__button {
    width: 288px;
    margin-top: 47px;
    padding-top: 26px;
    padding-bottom: 24px;
    padding-left: 37px;

    font-size: 24px;
    text-align: left;
    text-transform: none;
  }
}

@media (min-width: @desktop-width) {
  .date {
    padding-bottom: 106px;
  }

  .date__choice-wrapper {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 69px;
  }

  .date__travelmates-wrapper {
    position: relative;

    width: 485px;
  }

  .date__label {
    border: none;
  }

  .date__label-span {
    opacity: 1;
  }

  .date__duration-wrapper {
    position: relative;

    width: 485px;
    margin-top: 6px;
  }

  .date__duration-wrapper .date__label-span {
    margin-right: 8px;
  }

  .date__input-wrapper {
    position: absolute;
    top: -7px;
    left: 219px;

    width: 181px;
  }

  .date__kids-wrapper {
    margin-top: 46px;
  }

  .date__text-input {
    width: 60px;
  }

  .date__month-wrapper {
    margin-top: 60px;
    margin-bottom: -9px;
  }

  .date__month-decrease {
    margin-left: 0;
  }

  .date__month-increase {
    margin-right: 0;
  }

  .date__calendar {
    margin-left: 3px;
  }

  .date__cell {
    width: 143px;
    height: 68px;
    padding-top: 12px;
    padding-left: 15px;

    text-align: start;
    vertical-align: unset;

    &--header {
      height: 63px;
      padding-top: 21px;
      padding-left: 15px;
    }
  }

  .date__cell-extra {
    display: contents;

    line-height: 30px;
    letter-spacing: 2px;
  }

  .date__button {
    margin-top: 56px;
  }
}
