.destinations {
  position: relative;
  top: -60px;
  z-index: 9;

  padding-top: 132px;
  padding-bottom: 30px;

  background-color: @grey;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}

.destinations__title {
  margin: 0 50px 20px 50px;

  .font-face(700, 24px, 24px, @orange);
}

.destinations__text {
  margin: 0 69px 59px 50px;

  .font-face(300, 16px, 22px, #444444);
}

.destinations__list {
  width: 270px;

  .default-list();
  .center();
}

.destinations__show {
  margin-left: 25px;
  margin-right: 25px;
}

@media (min-width: @tablet-width) {
  .destinations {
    padding: 144px 75px 79px 73px;

    background-image: url("../../img/flags-back@1x.png");
    background-repeat: no-repeat;
    background-position: right 41px top 140px;
    border-bottom-left-radius: 58px;
    border-bottom-right-radius: 58px;
  }

  .destinations__title {
    margin-left: 0;
    margin-bottom: 68px;

    font-size: 45px;
  }

  .destinations__text {
    width: 350px;
    margin-bottom: 104px;
    margin-left: 2px;

    font-size: 28px;
    line-height: 33px;
  }

  .destinations__list {
    width: 100%;
    margin-left: 2px;
  }

  .destinations__show {
    width: 100%;
    margin: 0;
    margin-top: 47px;
  }
}

@media (min-width: @desktop-width) {
  .destinations {
    padding: 237px 60px 138px 859px;

    background-position: right 59px top 149px;
  }

  .destinations__title {
    margin-left: 3px;
  }

  .destinations__text {
    margin-bottom: 96px;
  }

  .destinations__list {
    position: absolute;
    top: 221px;
    left: 129px;
  }

  .destinations__show {
    width: 274px;
    margin: 0;
    margin-left: 5px;
  }
}
