.fun__country-list {
  .default-list();
}

.fun__country-item {
  margin-bottom: 23px;
}

.fun__country-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-top: 21px;
  padding-left: 15px;

  .font-face(700, 18px, 18px, #1d2e5b);
}

.fun__country-label {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
}

.fun__textarea {
  width: 100%;
  min-height: 220px;
  padding: 10px 14px;
  margin-top: 10px;
  margin-left: 4px;

  .font-face(400, 16px, 22px, #444444);

  border: 1px solid #cbced9;
  border-radius: 3px;
}

.fun__button-submit {
  margin-top: 25px;
}

.fun__previous {
  display: block;
  margin-top: 16px;
  margin-left: 56px;
  margin-bottom: 10px;

  .font-face(700, 17px, 30px, @dark-blue);
  text-transform: uppercase;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.3;
  }
}
