.general-filter__title {
  margin-bottom: 13px;
  padding-top: 25px;
  padding-bottom: 10px;

  .font-face(700, 22.5px, 22.5px, #1d2e5b);
}

.general-filter__fieldset {
  margin: 0;
  padding: 10px 0;

  border: 0;
  border-top: 1px solid #f3c72b;

  &:nth-child(4) {
    padding-bottom: 21px;
  }

  &:nth-child(5) {
    padding-bottom: 6px;
  }
}

.general-filter__fieldset-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.general-filter__form-legend {
  width: 195px;
  margin: 0;
  padding: 0;

  .font-face(700, 16px, 18px, #1d2e5b);
  text-transform: uppercase;
}

.general-filter__show {
  padding: 0;
  padding-top: 14px;

  width: 8px;
  height: 4px;

  background-color: transparent;
  background-image: url("../../img/dropdown.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;

  &--open {
    background-image: url("../../img/dropdown-open.svg");
  }
}

.general-filter__list {
  .default-list();

  .font-face(400, 15px, 15px, #444444);
}

.general-filter__hobby-list,
.general-filter__food-list {
  display: none;
}

.general-filter__music-list {
  margin-top: 13px;
  margin-bottom: 7px;
  padding-left: 26px;
}

.general-filter__item {
  padding: 7px 0;
}

.general-filter__label {
  position: relative;
}

.general-filter__label::before {
  content: "";

  position: absolute;
  top: -6px;
  left: -26px;

  width: 18px;
  height: 18px;

  background-color: #ffffff;
  border-radius: 2px;
}

.general-filter__checkbox:checked {
  & + .general-filter__label::after {
    content: "";

    position: absolute;
    top: -6px;
    left: -26px;

    width: 18px;
    height: 18px;

    background-color: #ffffff;
    background-image: url("../../img/tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 2px;
  }

  & + .general-filter__label::before {
    display: none;
  }
}

.general-filter__level-wrapper {
  position: relative;

  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 12px;

  &::before {
    content: "";

    position: absolute;
    top: 11px;
    left: 103px;

    width: 16px;
    height: 11px;

    background-color: #ffffff;
  }

  &::after {
    content: "";

    position: absolute;
    top: 16px;
    left: 103px;

    width: 16px;
    height: 1px;

    background-color: #cbced9;
  }
}

.general-filter__level {
  width: 110px;
  padding-top: 10px;
  padding-bottom: 7px;

  text-align: center;
  .font-face(500, 15px, 15px, #444444);
  border: 1px solid #cbced9;

  &--min {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border-right: none;
  }

  &--max {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

.general-filter__slider-wrapper {
  position: relative;

  width: 100%;
  height: 2px;
  margin-top: 23px;
  margin-bottom: 20px;

  background-color: #d2b54e;

  &::after {
    content: "";

    position: absolute;
    top: 0;
    right: 3px;

    width: 139px;
    height: 2px;

    background-color: #1d2e5b;
  }
}

.general-filter__slider {
  position: absolute;
  top: -4px;

  width: 10px;
  height: 10px;

  background-color: #1d2e5b;
  border-radius: 50%;

  &--min {
    left: 68px;
  }

  &--max {
    right: 0;
  }
}


@media (min-width: @tablet-width) {
  .general-filter {
    padding-top: 9px;
    padding-right: 25px;
    padding-left: 34px;

    border-radius: 20px;
  }

  .general-filter__title {
    margin: 0;

    font-size: 30px;
    line-height: 30px;
  }

  .general-filter__form {
    width: 620px;
    margin-top: 28px;
    padding-top: 27px;

    border-top: 1px solid #f3c72b;
  }

  .general-filter__fieldset {
    margin-bottom: 10px;

    border-top: none;

    &:nth-child(4) {
      padding-top: 19px;
      padding-bottom: 5px;
    }

    &:nth-child(5) {
      padding-top: 0;
    }
  }

  .general-filter__fieldset-wrapper {
    justify-content: flex-start;
  }

  .general-filter__form-legend {
    width: 102px;
    font-size: 20px;
    font-weight: 500;
  }

  .general-filter__show {
    display: none;
  }

  .general-filter__hobby-list,
  .general-filter__music-list,
  .general-filter__food-list {
    display: flex;
    flex-wrap: wrap;
    width: 518px;
    margin: 0;
    margin-top: 4px;
    margin-left: 0;
    padding: 0;
  }

  .general-filter__item {
    width: 168px;
    padding: 0;
    padding-left: 61px;

    &:nth-child(2) {
      margin-left: 0;
    }

    &:last-child {
      width: 176px;
      margin-left: 5px;
    }
  }

  .general-filter__label {
    font-size: 20px;

    &::before {
      top: -4px;
      left: -37px;

      width: 24px;
      height: 24px;
    }
  }

  .general-filter__checkbox:checked + .general-filter__label::after {
    content: "";

    position: absolute;
    top: -4px;
    left: -37px;

    width: 24px;
    height: 24px;

    border-radius: 2px;
  }

  .general-filter__level-wrapper {
    order: 3;
    justify-content: flex-start;
    width: 150px;
    margin-top: -17px;
    margin-left: 64px;

    &::before {
      top: 15px;
      left: 69px;

      width: 21px;
      height: 16px;
    }

    &::after {
      top: 22px;
      left: 65px;

      width: 21px;
    }
  }

  .general-filter__level {
    width: 75px;
    height: 46px;

    font-size: 20px;

    &--max {
      padding-right: 5px;
    }
  }

  .general-filter__slider-wrapper {
    width: 277px;
    height: 3px;
    margin-top: 5px;
    margin-left: 26px;

    &::after {
      height: 3px;
      width: 199px;
    }
  }

  .general-filter__slider {
    top: -5px;

    width: 13px;
    height: 13px;

    &--max {
      right: -3px;
    }
  }

  .general-filter__button {
    margin-top: 67px;
    padding-bottom: 9px;
  }
}

@media (min-width: @desktop-width) {
  .general-filter {
    padding-top: 13px;
    padding-bottom: 44px;
    padding-left: 32px;
  }

  .general-filter__title {
    margin-top: 9px;
    margin-left: 14px;
  }

  .general-filter__form {
    width: 195px;
    margin-top: 15px;
    margin-left: 14px;
    padding-top: 0;

    border: none;
  }

  .general-filter__fieldset {
    margin-bottom: 3px;

    border-top: none;

    &:nth-child(4) {
      padding-top: 8px;
      padding-bottom: 14px;
    }
  }

  .general-filter__fieldset-wrapper {
    justify-content: flex-start;
  }

  .general-filter__form-legend {
    width: 180px;
  }

  .general-filter__item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 13px;
      margin-left: 0;
    }
  }

  .general-filter__show {
    display: block;
    width: 10px;
    height: 5px;
  }

  .general-filter__hobby-list,
  .general-filter__food-list {
    display: none;
  }

  .general-filter__music-list {
    flex-direction: column;
    margin-top: 33px;
    margin-left: -23px;
  }

  .general-filter__level-wrapper {
    order: 0;
    width: 100%;
    margin-top: 20px;
    margin-left: 1px;

    &::before {
      left: 84px;
    }

    &::after {
      left: 84px;
    }
  }

  .general-filter__level {
    width: 95px;
  }

  .general-filter__slider-wrapper {
    width: 100%;
    margin-top: 35px;
    margin-right: 6px;
    margin-left: 0;

    &::after {
      width: 121px;
    }
  }

  .general-filter__slider--min {
    left: 59px;
  }

  .general-filter__button {
    width: 192px;
    margin-top: 17px;
  }
}
