.intro {
  position: relative;

  width: 100%;

  background: @dark-blue;
  background-image: url("../../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -85px;
  background-size: 100% 569px;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../../img/globe-back-mobile@2x.jpg");
    background-size: 100% 1138px;
    background-position: center top -369px;
  }
}

.intro__title-wrapper {
  position: relative;

  padding-top: 6px;

  line-height: 0;
}

.intro__title {
  display: block;
  width: 260px;
  margin: 0 25px 8px 31px;
  padding: 0;

  .font-face(700, 36px, 40px, #ffffff);
  text-align: center;
}

.intro__image {
  margin-left: 79px;
}

.intro__quotation-wrapper {
  margin-right: -500px;
  margin-left: -500px;

  background-color: @dark-blue;
}

.intro__quotation {
  width: 320px;
  margin: 0 auto;
  padding: 49px 75px 128px 49px;
}

.intro__text {
  margin: 0;
  margin-right: 34px;

  .font-face();
}

.intro__quotation-footer {
  margin-top: 19px;
  margin-right: 12px;

  font-style: normal;
  .font-face(700, 16px, 22px, #ffffff);
}

.intro__quotation-cite {
  display: block;
  width: 180px;

  font-style: normal;
}

.intro__instructions-wrapper {
  position: absolute;
  top: -97px;
  left: 25px;
  z-index: 30;
}

.intro__list-wrapper {
  position: absolute;
  top: 355px;
  left: 25px;

  display: flex;
}

.intro__list {
  padding-left: 0;

  list-style: none;
}

@media (min-width: @tablet-width) {
  .intro {
    position: relative;

    padding: 0;
    padding-bottom: 350px;

    background-color: #182044;
    background-image: url("../../img/globe-back-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: auto;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../../img/globe-back-tablet@2x.jpg");
      background-size: 1479px auto;
    }
  }

  .intro__title-wrapper {
    padding-top: 40px;
  }

  .intro__title {
    width: 410px;
    padding: 0;
    margin: 0 auto;
    margin-top: 26px;

    font-size: 60px;
    line-height: 70px;
  }

  .intro__image {
    position: absolute;
    top: 310px;
    left: 204px;

    width: 372px;
    height: 451px;
  }

  .intro__quotation-wrapper {
    margin: 0;
    padding: 88px 0 0 74px;

    background-color: transparent;
  }

  .intro__quotation {
    margin: 0;
    padding: 0;
  }

  .intro__quotation-footer {
    width: 250px;
    margin-top: 44px;

    font-size: 21px;
    line-height: 25px;
  }

  .intro__text {
    width: 260px;

    font-size: 28px;
    line-height: 33px;
  }

  .intro__instructions-wrapper {
    top: 212px;
    left: 40px;
  }

  .intro__list-wrapper {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .intro {
    position: relative;

    padding: 0;
    padding-bottom: 331px;

    background-color: @dark-blue;
    background-image: url("../../img/globe-back-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: bottom center;

    @media (min-resolution: @retina-dppx) {
      background-image: url("../../img/globe-back-desktop@2x.jpg");
      background-size: 1800 auto;
    }
  }

  .intro__wrapper {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    padding-left: 126px;
    padding-right: 53px;
  }

  .intro__title {
    text-align: left;
  }

  .intro__title-wrapper {
    padding-top: 39px;
  }

  .intro__quotation-wrapper {
    padding-top: 77px;
  }

  .intro__quotation {
    padding-left: 27px;
  }

  .intro__image {
    position: absolute;
    top: -31px;
    left: 398px;

    width: 431px;
    height: 640px;
  }

  .intro__instructions-wrapper {
    top: 103px;
    left: 60px;
  }
}
