.main-footer {
  position: relative;
  z-index: 10;

  padding-bottom: 4px;

  background-color: #ffffff;
  border-top-right-radius: 28px;
  border-top-left-radius: 28px;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 270px;
  .center();
  padding-top: 37px;
}

.main-footer__logo {
  margin-bottom: 32px;
}

.main-footer__social {
  .default-list();
}

.main-footer__copyright {
  display: flex;
  justify-content: space-between;
  width: 270px;
  margin-top: 37px;
  padding-top: 18px;

  .font-face(400, 16px, 22px, #444444);

  border-top: 1px solid rgba(68, 68, 68, 0.05);

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-footer__copyright-icon {
  position: relative;
  top: -6px;
}

@media (min-width: @tablet-width) {
  .main-footer {
    padding-top: 9px;
    padding-bottom: 30px;

    border-top-right-radius: 58px;
    border-top-left-radius: 58px;
  }

  .main-footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
    width: 688px;
  }

  .main-footer__logo img {
    width: 166px;
    height: 42px;
  }

  .main-footer__social {
    margin-left: 54px;
    padding-bottom: 13px;
  }

  .main-footer__copyright {
    width: 156px;
    margin-top: -16px;

    font-size: 20px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    width: 1322px;
  }

  .main-footer__logo {
    margin-top: 6px;

    & img {
      width: 200px;
      height: 52px;
    }
  }

  .main-footer__social {
    margin-left: -47px;
    padding-bottom: 26px;
  }

  .main-footer__copyright {
    margin-top: -33px;
  }
}
