.main-nav {
  top: 74px;
  left: 0;
  z-index: 100;

  width: 320px;
  padding: 0 25px 45px 25px;

  background-color: #ffffff;
}

.main-nav__list {
  margin: 0;
  margin-top: 45px;
  margin-bottom: 50px;
  padding: 0;

  list-style: none;
}

.main-nav__contacts-list {
  .default-list();
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: 60px;
}

.main-nav__social {
  .default-list();
  margin-top: 30px;
  margin-left: 60px;
}
