.main-nav {
  top: 74px;
  left: 0;
  z-index: 100;

  width: 100%;
  margin: 0 -1000px;
  padding: 0 1000px;
  padding-top: 6px;
  padding-bottom: 26px;

  background-color: #ffffff;
}

.main-nav__wrapper {
  padding-right: 25px;
  padding-left: 25px;
}

.main-nav__list {
  margin: 0;
  margin-top: 45px;
  margin-bottom: 50px;
  padding: 0;

  list-style: none;
}

.main-nav__site-list {
  margin-top: 36px;
}

.main-nav__contacts-list {
  .default-list();
  margin-top: 73px;
  margin-bottom: 40px;
  margin-left: 60px;
}

.main-nav__social {
  .default-list();
  margin-top: 30px;
  margin-left: 67px;
}

.main-nav--nojs {
  position: static;

  width: auto;
}

@media (min-width: @tablet-width) {
  .main-nav {
    top: 82px;
    width: 100%;

    padding-top: 0;
    padding-bottom: 71px;
  }

  .main-nav__wrapper {
    padding-right: 40px;
    padding-left: 98px;
  }

  .main-nav__list {
    margin-top: 50px;
  }

  .main-nav__site-list {
    margin-top: 94px;
  }

  .main-nav__contacts-list {
    margin-top: 156px;
    margin-bottom: 137px;
    margin-left: 90px;

    font-size: 28px;
  }

  .main-nav__social {
    margin-left: 3px;
  }

  .main-nav--nojs {
    position: static;

    width: auto;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    display: block;
    width: 700px;
    margin: 0;
    margin-top: 26px;
    margin-right: 93px;
    padding: 0;

    background-color: transparent;
  }

  .main-nav__wrapper {
    position: relative;

    width: 100%;
    margin: 0;
    margin-top: -4px;
    padding: 0;

    &::before {
      content: "";

      position: absolute;
      top: 16px;
      left: 21px;

      width: 59px;
      height: 2px;

      background-color: #ffffff;
    }
  }
}
