.map {
  position: relative;
  margin-top: -215px;
  margin-bottom: -247px;

  .font-face(bold, 16px, 22px, @blue);
  font-style: normal;
  text-transform: uppercase;

  &::after {
    content: "";

    position: absolute;
    bottom: 372px;
    right: 50%;
    transform: translateX(27px);

    width: 41px;
    height: 41px;

    background: #ffffff;
    background-image: url("../../img/map-marker.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }
}

.map__address-wrapper {
  padding-bottom: 33px;

  background-color: @yellow;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}

.map__address {
  position: relative;

  padding: 60px 25px 0 87px;

  font: inherit;

  &::before {
    content: "";

    position: absolute;
    bottom: 1px;
    left: 26px;

    width: 45px;
    height: 45px;

    background-color: @blue;
    background-image: url("../../img/contacts-location.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }
}

.map__link {
  flex-grow: 1;
  margin-top: 31px;
  margin-right: 25px;
  margin-left: 25px;
}

.map__image {
  position: relative;
  z-index: -5;

  margin-top: -34px;
  width: 100%;
  clip: rect(0, 320px, 100px, 0);
}

@media (min-width: @tablet-width) {
  .map {
    margin-top: -240px;
    margin-bottom: -95px;

    font-size: 28px;
    line-height: 28px;

    &::after {
      width: 54px;
      height: 54px;

      bottom: 37%;
      right: 50%;
      transform: translateX(27px);
    }
  }

  .map__address-wrapper {
    padding-top: 60px;
    padding-bottom: 85px;

    border-bottom-right-radius: 58px;
    border-bottom-left-radius: 58px;
  }

  .map__address {
    padding-left: 168px;

    &::before {
      bottom: -18px;
      left: 75px;

      width: 68px;
      height: 68px;

      background-size: 21px 32px;
    }
  }

  .map__link {
    margin: 61px 75px 0 74px;
    padding-top: 30px;
    padding-bottom: 27px;
  }

  //Временно
  .map__image {
    width: 100%;
    height: 600px;
    margin-top: -50px;
  }
}

@media (min-width: @desktop-width) {
  .map {
    margin-bottom: -61px;
  }

  .map__address-wrapper {
    display: flex;
    padding-top: 77px;
    padding-bottom: 60px;
    padding-left: 0;
  }

  .map__link {
    margin: 33px 134px 0 122px;
    width: 325px;
  }

  .map__address {
    margin-left: 236px;

    &::before {
      bottom: -4px;
      left: 46px;

      width: 90px;
      height: 90px;

      background-size: 28px 43px;
    }
  }

  //Временно
  .map__image {
    height: 500px;
  }
}
