.modal-country {
  display: fixed;
  width: 220px;
  margin: 10px auto;

  border-radius: 5px;
  border: 1px solid #cbced9;
}

.modal-country__title-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 12px;

  background-color: #1d2e5b;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-country__title {
  margin: 0;

  .font-face(500, 14px, 18px, #ffffff);
  text-transform: uppercase;

  background-color: #1d2e5b;
}

.modal-country__abc {
  .default-list();
}

.modal-country__sorted {
  .default-list();
  margin-top: 55px;
  margin-bottom: 20px;
  margin-left: 20px;
}
