.page-form__title {
  position: relative;

  margin: 0;
  padding-top: 20px;
  padding-bottom: 9px;
  padding-left: 26px;

  .font-face(bold, 36px, 40px, #ffffff);
  background-color: @dark-blue;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;

  &::after {
    content: "";

    position: absolute;
    bottom: -1px;
    left: 25px;

    width: 215px;
    height: 4px;

    background: #ff8d30;
    border-radius: 2px;
  }
}
