.page-form__title-wrapper {
  position: relative;
  z-index: 10;

  background-color: @dark-blue;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.page-form__title {
  padding-top: 13px;
  padding-bottom: 12px;
  padding-left: 26px;

  .font-face(bold, 36px, 40px, #ffffff);
  background-color: @dark-blue;

  &::after {
    content: "";

    position: absolute;
    bottom: -1px;
    left: 25px;

    width: 215px;
    height: 4px;

    background: #ff8d30;
    border-radius: 2px;
  }
}

.page-form__form {
  margin: 0;
  padding: 0;
}

.page-form__button-submit {
  margin-top: 25px;
  padding-bottom: 4px;
}

@media (min-width: @tablet-width) {
  .page-form__title {
    position: relative;
    z-index: 20;

    padding-top: 138px;
    padding-left: 74px;
    padding-bottom: 81px;

    background-color: #161c35;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    font-size: 60px;

    &::after {
      bottom: -4px;
      left: 75px;

      width: 357px;
      height: 8px;

      border-radius: 4px;
    }
  }

  .page-form__button {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      top: 34px;
      right: 35px;

      display: block;
      width: 10px;
      height: 14px;

      background-image: url("../../img/triangle-arrow-right.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .page-form__button-submit {
    width: 288px;
    margin-top: 0;
    padding-left: 36px;
    padding-top: 27px;
    padding-bottom: 24px;

    text-transform: none;
    font-size: 24px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .page-form {
    position: relative;
  }

  .page-form__title {
    padding: 121px 155px 81px 126px;

    &::after {
      bottom: -4px;
      left: 125px;

      width: 357px;
      height: 8px;
    }
  }
}
