.page-catalog__title {
  position: relative;
  z-index: 10;

  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 26px;

  .font-face(700, 36px, 40px, #ffffff);
  background-color: #161c35;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 25px;

    width: 175px;
    height: 4px;

    background: #ff8d30;
    border-radius: 2px;
  }
}
