.page-catalog {
  margin-bottom: -30px;
}

.page-catalog__title {
  position: relative;
  z-index: 10;

  margin: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 26px;

  .font-face(700, 36px, 40px, #ffffff);
  background-color: #161c35;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;

  &::after {
    content: "";

    position: absolute;
    bottom: 0;
    left: 25px;

    width: 175px;
    height: 4px;

    background: #ff8d30;
    border-radius: 2px;
  }
}

.page-catalog__title-link {
  display: none;
}

.page-catalog__filter {
  position: relative;

  margin-top: -10px;
  padding-top: 10px;

  background-color: @grey;
}

@media (min-width: @tablet-width) {
  .page-catalog__title-wrapper {
    position: relative;
    z-index: 20;

    display: flex;
    justify-content: space-between;
    padding: 101px 136px 68px 48px;

    background-color: #161c35;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .page-catalog__title {
    font-size: 60px;

    &::after {
      bottom: -70px;
      left: 28px;

      width: 287px;
      height: 7px;

      border-radius: 4px;
    }
  }

  .page-catalog__title-link {
    display: block;
    margin-top: 30px;

    .font-face(700, 20px, 24px, #ffffff);
    text-transform: uppercase;
  }

  .page-catalog__filter {
    width: 768px;
  }
}

@media (min-width: @desktop-width) {
  .page-catalog__title-wrapper {
    padding: 100px 183px 68px 100px;
  }

  .page-catalog__travelmates-wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 0 60px;
    margin-top: 74px;
  }

  .page-catalog__filter {
    width: 100%;
  }
}
