.plans {
  margin-top: -21px;
  margin-bottom: -20px;
  padding: 25px;
  padding-top: 28px;
  padding-bottom: 45px;

  background-color: #dfe3f0;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
}

.plans__title {
  margin: 1px 25px 0 25px;
  .font-face(700, 24px, 24px, #1d2e5b);
}

.plans__list {
  .default-list();
  margin-top: 27px;
  margin-right: 24px;
  margin-left: 24px;
}

.plans__item {
  margin: 0;
  margin-bottom: 10px;
  padding: 25px;
  padding-bottom: 21px;

  background-color: #ffffff;
  border-radius: 10px;
}

.plans__country {
  margin: 0;
  margin-bottom: 21px;
  .font-face(700, 16px, 16px, #1d2e5b);
}

.plans__num {
  font-weight: 500;
}

.plans__travelmates,
.plans__dates {
  margin: 0;
  .font-face(500, 14px, 14px, #1d2e5b);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.plans__dates {
  margin-top: 5px;
  margin-bottom: 21px;
}

.plans__edit {
  margin-left: 1px;

  .font-face(500, 14px, 18px, rgba(0, 0, 0, 0.3));
  text-transform: uppercase;
  letter-spacing: 2px;

  &:hover,
  &:focus {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: @tablet-width) {
  .plans {
    margin-top: -3px;
    margin-bottom: -11px;
    padding: 47px 0 94px 0;
  }

  .plans__title {
    margin: 3px 75px 0 75px;
    font-size: 36px;
    line-height: 50px;
  }

  .plans__num {
    font-size: 20px;
  }

  .plans__list {
    margin-top: 41px;
    margin-right: 76px;
    margin-left: 75px;
  }

  .plans__item {
    padding: 29px 0 14px 0;
  }

  .plans__country {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 36px;
    padding-right: 30px;
    padding-bottom: 21px;

    font-size: 24px;
    line-height: 50px;

    border-bottom: 1px solid #eff0f4;
  }

  .plans__edit-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 32px;
    margin-left: 32px;
  }

  .plans__travelmates,
  .plans__dates,
  .plans__edit {
    font-size: 20px;
  }

  .plans__travelmates {
    width: 186px;
  }

  .plans__dates {
    margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .plans {
    position: relative;
    margin-top: -46px;
    padding-bottom: 98px;

    border-top-left-radius: 58px;
    border-top-right-radius: 58px;
  }

  .plans__title {
    margin-left: 129px;
    padding-left: 0;
  }

  .plans__list {
    margin-top: 44px;
    margin-right: 62px;
    margin-left: 122px;
  }

  .plans__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 23px 38px 23px 42px;
  }

  .plans__country {
    flex-direction: row;
    margin: 0;
    padding: 0;

    border-bottom: none;
  }

  .plans__num {
    width: 53px;
  }

  .plans__edit-wrapper {
    align-items: center;
    width: 591px;
    margin: 0;
  }

  .plans__travelmates {
    width: 178px;
  }
}
