.rates {
  position: relative;
  top: -164px;
  z-index: 7;

  padding-bottom: 39px;

  background-color: @grey;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}

.rates__wrapper {
  position: relative;

  padding: 83px 25px 0 47px;

  background-color: @grey;
}

.rates__title {
  margin: 0;
  padding: 21px 100px 20px 3px;

  .font-face(700, 24px, 24px, #ff8d30);

  background-image: url("../../img/rates@1x.png");
  background-size: 99px 99px;
  background-repeat: no-repeat;
  background-position: right 0 top 8px;

  @media (min-resolution: @retina-dppx) {
    background-image: url("../../img/rates@2x.png");
  }
}

.rates__table {
  margin-top: 24px;

  .font-face(300, 16px, 22px, #444444);
  border-collapse: collapse;
}

.rates__cell {
  padding-top: 12px;
  padding-bottom: 8px;
  padding-left: 2px;
}

.rates__data {
  display: flex;
  flex-direction: column;
  width: 199px;

  border-top: 1px solid rgba(68, 68, 68, 0.05);
  border-bottom: 1px solid rgba(68, 68, 68, 0.05);
}

.rates__number {
  width: 50px;
}

.rates__number-value {
  position: relative;
  top: -13px;
  left: 13px;

  display: block;
  width: 34px;
  height: 34px;
  padding-top: 8px;
  padding-left: 12px;

  color: #ffffff;

  background-color: #ffa530;
  border-radius: 50%;

  &--second {
    background-color: #ffbd30;
  }

  &--third {
    background-color: #ffd74b;
  }
}

.rates__show {
  display: block;

  margin-top: 32px;
  padding-left: 3px;

  .font-face(700, 16px, 16px, #192144);

  &:hover,
  &:focus {
    color: rgba(19, 37, 118, 0.7);
  }

  &:active {
    color: rgba(19, 37, 118, 0.3);
  }
}

@media (min-width: @tablet-width) {
  .rates {
    padding-bottom: 88px;

    border-bottom-right-radius: 58px;
    border-bottom-left-radius: 58px;
  }

  .rates__wrapper {
    padding: 134px 72px 0 40px;

    &::after {
      content: "";

      position: absolute;
      bottom: -41px;
      right: 84px;
      z-index: 1;

      width: 100px;
      height: 99px;

      background-image: url("../../img/rates@1x.png");
      background-repeat: no-repeat;
      background-size: 100px 99px;
      border-radius: 20px;

      @media (min-resolution: @retina-dppx) {
        background-image: url("../../img/rates@2x.png");
      }
    }
  }

  .rates__title {
    padding: 0;
    padding-left: 34px;

    font-size: 45px;
    text-align: center;

    background-image: none;
  }

  .rates__table {
    position: relative;

    width: 100%;
    margin-top: 87px;

    font-size: 28px;

    &::before {
      content: "";

      position: absolute;
      top: -42px;
      right: -32px;
      z-index: 0;

      width: 198px;
      height: 285px;

      background-color: #e2e5f2;
      border-radius: 20px;
    }
  }

  .rates__row {
    position: relative;

    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    max-height: 67px;
  }

  .rates__cell {
    padding-top: 0;
    padding-bottom: 0;
  }

  .rates__data {
    flex-direction: row;
    justify-content: space-between;
    width: 566px;
    min-height: 68px;
    padding: 20px 0;
  }

  .rates__number {
    padding-left: 4px;
  }

  .rates__number-value {
    top: -2px;
    left: -4px;

    width: 67px;
    height: 67px;
    padding-top: 25px;
    padding-left: 26px;
  }

  .rates__show {
    position: relative;

    margin-top: 54px;
    margin-left: 86px;
    .font-face(700, 20px, 20px, #132576);

    &::before {
      content: "";

      position: absolute;
      top: -25px;
      left: -86px;

      width: 67px;
      height: 67px;

      background-color: #e2e5f2;
      border-radius: 50%;
    }

    &::after {
      content: "";

      position: absolute;
      top: -3px;
      left: -60px;

      width: 17px;
      height: 21px;

      background-image: url("../../img/business.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 17px 21px;
    }

    &:hover::after,
    &:focus::after {
      opacity: 0.7;
    }

    &:active::after {
      opacity: 0.3;
    }
  }
}

@media (min-width: @desktop-width) {
  .rates {
    padding-bottom: 186px;
  }

  .rates__wrapper {
    padding-top: 169px;
    padding-bottom: 0;
    padding-left: 132px;

    &::after {
      bottom: 79px;
      right: 133px;

      width: 198px;
      height: 198px;

      background-size: auto;
    }
  }

  .rates__title {
    padding-right: 55px;
    padding-left: 0;
  }

  .rates__table {
    width: 903px;
    margin-top: 146px;

    &::before {
      top: -51px;
      right: -160px;

      width: 444px;
      height: 300px;
    }
  }

  .rates__data {
    width: 813px;
  }

  .rates__show {
    margin-top: 57px;
    margin-left: 83px;
  }
}
