.sign-in {
  position: relative;
  top: -190px;
  z-index: 6;

  background-color: @blue;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}

.sign-in__wrapper {
  padding: 96px 25px 37px 25px;

  background-color: @blue;
}

.sign-in__title {
  display: block;
  margin-bottom: 22px;

  .font-face(700, 24px, 24px, @orange);
  text-align: center;
}

.sign-in__text {
  width: 215px;
  .center();

  .font-face(300, 16px, 22px, #ffffff);
  text-align: center;
}

.sign-in__login-link {
  color: @yellow;
  text-decoration: underline solid #8c7c48;

  &:hover,
  &:focus {
    color: @orange;
    text-decoration-color: #8c573a;
  }

  &:active {
    color: @orange;
    opacity: 0.3;
    text-decoration-color: #8c573a;
  }
}

.sign-in__form {
  position: relative;

  margin-top: 29px;
  margin-bottom: 29px;
}

.sign-in__email {
  width: 100%;
  height: 62px;
  padding-top: 4px;
  padding-left: 23px;

  .font-face(700, 18px, 18px, rgba(68, 68, 68, 0.3));
  background-color: #ffffff;
  border: none;
  border-radius: 10px;

  &::placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover::placeholder {
    color: rgba(68, 68, 68, 0.5);
  }

  &:focus::placeholder {
    color: #ffffff;
  }

  &:focus {
    color: #ffffff;

    background-color: #192144;
    border: 4px solid #ffffff;
  }
}

.sign-in__submit {
  position: absolute;
  right: 0;

  width: 60px;
  height: 62px;
  padding-top: 6px;
  padding-left: 10px;

  background-color: @yellow;
  border: none;
  border-radius: 10px;
  fill: #1d2e5b;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #ffbd30;
  }

  &:active {
    background-color: #ffbd30;
    fill: rgba(29, 46, 91, 0.3);
  }
}

.sign-in__submit-text {
  display: none;
}

.sign-in__contacts-list {
  .default-list();
  margin-top: 29px;
  margin-left: 60px;
}

@media (min-width: @tablet-width) {
  .sign-in {
    border-bottom-right-radius: 58px;
    border-bottom-left-radius: 58px;
  }

  .sign-in__wrapper {
    margin-top: -25px;
    padding: 142px 75px 78px 75px;
  }

  .sign-in__title {
    font-size: 45px;
    margin-bottom: 65px;
  }

  .sign-in__text {
    width: 610px;

    font-size: 28px;
    line-height: 33px;
  }

  .sign-in__form {
    margin-top: 63px;
    margin-bottom: 60px;
  }

  .sign-in__email {
    height: 80px;
    padding-left: 35px;

    font-size: 24px;

    border-radius: 18px;
  }

  .sign-in__submit {
    width: 82px;
    height: 80px;

    border-radius: 0;
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
  }

  .sign-in__contacts-list {
    margin-top: 62px;
    margin-left: 91px;
  }
}

@media (min-width: @desktop-width) {
  .sign-in__title {
    margin-bottom: 67px;
  }

  .sign-in__wrapper {
    padding: 173px 133px 132px 132px;
  }

  .sign-in__form {
    margin-top: 55px;
    margin-bottom: 69px;
  }

  .sign-in__submit {
    top: 0;

    display: flex;
    justify-content: space-between;
    width: 324px;
    padding-left: 35px;
    padding-right: 37px;

    text-align: left;
  }

  .sign-in__submit-text {
    display: inline;

    .font-face(700, 24px, 24px, #1d2e5b);
  }

  .sign-in__text--bottom {
    margin-left: 272px;
  }

  .sign-in__contacts-list {
    margin-top: 75px;
    margin-left: 272px;
  }
}
