.sorted {
  .font-face(400, 16px, 22px, #444444);
}

.sorted__link {
  color: inherit;
}

@media (min-width: @tablet-width) {
  .sorted {
    font-size: 20px;
    line-height: 30px;

    border-left: 1px solid #eaecf2;
  }
}

@media (min-width: @desktop-width) {
  .sorted__link {
    &:hover,
    &:focus {
      color: #1d2e5b;
    }

    &:active {
      color: rgba(29, 46, 91, 0.3);
    }
  }
}
