.transport-choice {
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}

.transport-choice__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;

  background-color: #ffffff;
  border-radius: 50%;

  cursor: pointer;
}

.transport-choice__icon {
  fill: rgba(68, 68, 68, 0.15);
}

.transport-choice__checkbox:checked + .transport-choice__icon {
  fill: rgba(68, 68, 68, 1);
}

@media (min-width: @tablet-width) {
  .transport-choice {
    position: relative;
    top: -11px;
    left: 8px;

    margin-top: 0;
  }

  .transport-choice__label {
    width: 43px;
    height: 43px;
  }
}

@media (min-width: @desktop-width) {
  .transport-choice {
    position: static;
    margin-top: 21px;
    margin-bottom: 19px;
  }
}
