.travelmates {
  position: relative;
  top: -110px;
  z-index: 8;

  padding-top: 120px;
  padding-bottom: 30px;

  color: #ffffff;

  background-image: url("../../img/smolov-back-desktop@1x.png"),
    url("../../img/rogovaya-back-mobile@1x.png"),
    url("../../img/blue-back.png");
  background-repeat: no-repeat;
  background-position: top 88px right 25px,
    top 360px left -10px,
    top 88px left;
  background-color: @blue;
  border-bottom-right-radius: 28px;
  border-bottom-left-radius: 28px;
}

.travelmates__title {
  margin: 0 50px;

  .font-face(700, 24px, 24px, @orange);
}

.travelmates__text {
  margin-top: 21px;
  margin-right: 46px;
  margin-left: 50px;

  .font-face(300, 16px, 22px, #ffffff);

  &--bold {
    margin-bottom: 55px;

    font-weight: bold;
  }
}

.travelmates__break {
  display: none;
}

.travelmates__list {
  width: 270px;
  .default-list();
  .center();
}

.travelmates__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.travelmates__text-wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;

  background-color: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.travelmates__name {
  position: relative;

  margin: 0;
  margin-bottom: 15px;

  .font-face(700, 21px, 21px, #1d2e5b);

  &::before {
    content: "";

    position: absolute;
    top: 6px;
    left: -15px;

    width: 5px;
    height: 5px;

    background-color: #f97676;
    border-radius: 50%;
  }

  &--green::before {
    background-color: #81e31e;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.travelmates__flags {
  position: absolute;
  top: -12px;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 182px;
  .default-list();
}

.travelmates__flags-item {
  margin-right: 18px;

  &:last-child {
    margin-right: 0;
  }
}

.travelmates__preferences-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 200px;
  .default-list();
  margin-left: -1px;

  .font-face(400, 16px, 18px, #444444);

  &--demin {
    margin-left: 13px;
  }
}

.travelmates__preferences-item {
  margin-left: 5px;

  &:first-child {
    margin-left: 0;
  }
}

.travelmates__transport-list {
  .default-list();
  margin-top: 15px;
  margin-bottom: 17px;
  margin-left: 16px;
}

.travelmates__photo-wrapper {
  position: relative;

  order: -1;

  line-height: 0;
}

.travelmates__photo {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.travelmates__level {
  position: absolute;
  top: 16px;
  left: 17px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--firsova {
    .level-bar(60px, 3px, @orange, rgba(0, 0, 0, 0.6), 99);
  }

  &--demin {
    .level-bar(60px, 3px, @orange, rgba(0, 0, 0, 0.6), 80);
  }
}

.travelmates__level-value {
  position: relative;

  margin-bottom: 10px;

  .font-face(700, 24px, 24px, #ffffff);

  &::before {
    content: "";

    position: absolute;
    top: 23px;
    left: -3px;

    width: 31px;
    height: 1px;

    background-color: rgba(256, 256, 256, 0.3);
  }
}

.travelmates__show {
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 19px;
}

@media (min-width: @tablet-width) {
  .travelmates {
    padding: 202px 78px 88px 72px;

    background-image: url("../../img/smolov-back-desktop@1x.png"),
      url("../../img/rogovaya-back-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top 475px left 40px,
      top 128px left 408px;
    background-color: @blue;
    border-bottom-right-radius: 58px;
    border-bottom-left-radius: 58px;

    &::before {
      content: "";

      position: absolute;
      top: 133px;
      left: 39px;

      width: 213px;
      height: 213px;

      background-color: #141b3b;
      border-radius: 20px;
    }
  }

  .travelmates__title {
    position: relative;

    margin: 0;

    font-size: 45px;
  }

  .travelmates__text {
    position: relative;

    margin: 67px 185px 0 3px;

    font-size: 28px;
    line-height: 33px;

    &--bold {
      margin-top: 42px;
      margin-bottom: 58px;
      margin-right: 355px;

      font-size: 21px;
      line-height: 25px;
    }
  }

  .travelmates__break {
    display: block;
  }

  .travelmates__list {
    display: flex;
    width: 100%;
    margin-left: 3px;
    justify-content: space-between;
  }

  .travelmates__item {
    width: 285px;
    padding-bottom: 10px;
  }

  .travelmates__text-wrapper {
    padding-bottom: 7px;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

  .travelmates__name {
    margin-top: 3px;
    margin-bottom: 22px;

    font-size: 24px;
    line-height: 24px;

    &::before {
      top: 9px;
      left: -22px;

      width: 7px;
      height: 7px;
    }
  }

  .travelmates__preferences-list {
    width: 232px;
    margin-left: -2px;
    margin-bottom: 7px;

    font-size: 20px;
    line-height: 24px;
  }

  .travelmates__photo {
    width: 285px;
    height: 285px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .travelmates__level {
    top: 20px;
    left: 20px;
  }

  .travelmates__show {
    width: 100%;
    margin: 0;
    margin-top: 61px;
    margin-left: 3px;
  }
}

@media (min-width: @desktop-width) {
  .travelmates {
    padding-top: 190px;
    padding-bottom: 133px;
    padding-left: 128px;

    background-position: top 183px left 547px,
      top 435px left 191px,
      top 88px left;

    &::before {
      top: 118px;
      left: 60px;
    }
  }

  .travelmates__text {
    width: 450px;
  }

  .travelmates__break {
    display: block;
  }

  .travelmates__list {
    position: absolute;
    top: 184px;
    right: 60px;

    justify-content: space-between;
    width: 630px;
    margin-left: 0;
  }

  .travelmates__item {
    padding-bottom: 0;

    border-radius: 20px;

    &:hover,
    &:focus {
      box-shadow: 0 6px 21px #000000;
    }

    &:hover .travelmates__photo,
    &:focus .travelmates__photo {
      top: -25px;
      left: -25px;

      width: 335px;
      height: 335px;

      clip: rect(25px, 310px, 310px, 25px);
    }
  }

  .travelmates__text-wrapper {
    position: relative;
    z-index: 100;

    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

  .travelmates__photo-wrapper {
    position: relative;

    height: 285px;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    overflow: hidden;
  }

  .travelmates__photo {
    position: absolute;

    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .travelmates__level {
    left: 24px;
  }

  .travelmates__show {
    width: 280px;
    margin-top: 83px;
    margin-left: 2px;
  }
}
